<a href="https://colab.research.google.com/github/ddoberne/colab/blob/main/lessons/02_Arithmetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02 Arithmetic

In this lesson, we will go over the basic arithmetic functions of Python. Anything your calculator can do, you can be sure that Python can do it as well.

* Addition

In [ ]:
6 + 3

9

* Subtraction

In [ ]:
6 - 3

3

* Multiplication -- uses the * symbol

In [ ]:
6 * 3

18

* Division -- uses the / symbol

In [ ]:
6 / 3

2.0

Of course, we can use variable assignment to save values, then perform these operations on them.

In [ ]:
a = 6
b = 3

In [ ]:
a + b

9

In [ ]:
a - b

3

In [ ]:
a * b

18

In [ ]:
a / b

2.0

Note that the values for **a** and **b** stay the same throughout this section, because we don't assign them new values. If we want to change the value of a variable, it is common to write code like this:

In [ ]:
a = a + 1
print(a)

7

Whatever **a** was before, it's now one greater.

# Special Operators

There are three more operations we frequently use in Python. These might be less familiar:

* Exponents -- instead of writing superscript or a ^ symbol, Python uses double stars for exponents.

In [ ]:
# This is the same as 4 * 4 * 4
4 ** 3

64

* Modulus -- remember how in long division you would have a remainder? This calculates that remainder. Frequently used to find the last digit or digits of a number.

In [ ]:
157 % 10

7

In [ ]:
157 % 100

57

* Floor division -- division, but rounding down to the whole number. Begone, decimels!

In [ ]:
4 // 3

1

In [ ]:
5 // 3

1

In [ ]:
6 // 3

2

# Order of Operations

Nobody likes dealing with the order of operations. At least, I don't like dealing with it 😅. Nevertheless, it's a good idea to have an idea of how it works. The order is:
* Parentheses
* Exponents
* Multiplication/Division
* Addition/Subtraction

When you have two operations of the same tier next to each other, go left to right.

In [ ]:
4 + 3 - 2 - 1

4

* 4 + 3 is 7
* 7 - 2 is 5
* 5 - 1 is 4

In [ ]:
4 + 3 * 2 - 1

9

* Multiplication first: 3 * 2 is 6
* 4 + 6 is 10
* 10 - 1 is 9

Fortunately, it's possible to avoid spots where you need to figure out the order. You can either separate each step to a separate line:

In [ ]:
a = 4 + 3
b = a * 2
c = b - 1
print(c)

13

Or, you can use parentheses to group together the actions you want performed first:

In [ ]:
(4 + 3) * (2 - 1)

7

Notice how each of these cells have different results! Understanding the order of how code will execute is very important in making sure it's doing what you want.

# Word Problems

Perhaps that title fills you with dread and/or trauma from math class at school, but I promise to give you some underhand tosses. Use the above operations to find the answer to these problems!

* There are six full baskets of apples containing eight apiece. How many apples are there total?

In [ ]:
### YOUR CODE HERE ###

* 14 baskets contain a total of 211 apples. What is the average number of apples in each basket?

In [ ]:
### YOUR CODE HERE ###

* There are four small baskets with seven apples apiece, and two large baskets with twelve apples apiece. How many apples do you have in total?

In [ ]:
### YOUR CODE HERE ###

* You have 91 apples. Each basket can only carry a total of eight apples. How many can you fill completely? How many apples will be left over?

In [ ]:
### YOUR CODE HERE ###

Don't forget to save your notebook!